      @font-face {
        font-family: ie5;
        src: url(courier.woff);t
      }
      body {
        font-family: ie5;
        height: 100%;
        padding-left: 5%;
        padding-right: 5%;
        text-align: left;
      }
      topnav {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        background-color: #c1c1c1;
        text-align: center;
        color: #ffffff;
      }
      a:visited {
        color: blue;
      }
