div, input, button {
	display: inline;
	padding: 10px;
	color: black;
	border-radius: 7px;
	font-size: 16px;
}

.hor-exp {
	display: inline-block;
	width: calc(100% - 255px);
}

.vert-exp {
    height: calc(100vh - 60px);  
}

input, button {
	border: transparent;
	font-family: times new roman;
}

input {
	background-color: #f0f1f3;
}

button {
	background-color: #ffd43a;
}

body {
	padding: 10px;
}
